@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(_common.scss);
@font-face {
  font-family: 'Inter';
  src: url(../fonts/Inter-Variable.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-add1 {
  background-image: url('/src/assets/images/address/Sajang-BBQ-web-Dia-diem-dia-diem.jpg');
}
.bg-add2 {
  background-image: url('/src/assets/images/address/T1_1_1-scaled.jpg');
}
.bg-add3 {
  background-image: url('/src/assets/images/address/TB_1-scaled.jpg');
}
.bg-add4 {
  background-image: url('/src/assets/images/address/T2_1-scaled.jpg');
}
.bg-add5 {
  background-image: url('/src/assets/images/address/T3_1-scaled.jpg');
}
.bg-add6 {
  background-image: url('/src/assets/images/address/T5_1-scaled.jpg');
}
.address-container {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
  }
}
.container-login100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
  .wrap-login100 {
    width: 960px;
    background: #fff;
    border-radius: 10px;
  }
  .login-button{
    border-radius: 9999px;
    background: #57b846;
  }
  .login-button:hover{
    background: #333333 !important;
  }
}
